<div class="footer-area">
    <div class="footer-top section-space-y-axis-100 text-black" data-bg-color="#e5ddcc">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="widget-item">
                        <div class="footer-logo pb-4">
                            <a href="/">
                            </a>
                        </div>
                        <p class="short-desc mb-2"> Chúng tôi cam kết cung cấp những sản phẩm tươi ngon nhất, đảm bảo an toàn và chất lượng. Hãy đồng hành cùng chúng tôi trong hành trình chăm sóc sức khỏe và phong phú thực đơn hàng ngày của bạn!</p>
                        <div class="widget-contact-info pb-6">
                            <ul>
                                <li>
                                    <i class="pe-7s-map-marker"></i>
                                    218/27/22 Lạc Long Quân, Hà Nội,
                                </li>
                                <li>
                                    <i class="pe-7s-phone"></i>
                                    0775122681,
                                </li>
                                <li>
                                    <i class="pe-7s-mail"></i>
                                    <a href="mailto://nguyentuananh30082002@gmail.com">nguyentuananh30082002@gmail.com</a>
                                </li>
                            </ul>
                        </div>
                        <div class="payment-method">
                            <a href="javascript:void(0)">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-1 col-md-6 pt-10 pt-lg-0">
                    <div class="widget-item">
                        <h3 class="widget-title mb-5">Information</h3>
                        <ul class="widget-list-item">
                            <li>
                                <a href="/gioi-thieu.html">Về chúng tôi</a>
                            </li>
                            <li>
                                <a href="/page/huong-dan-mua-hang">Hướng dẫn mua hàng</a>
                            </li>
                            <li>
                                <a href="/blogs.html">Blog</a>
                            </li>
                            <li>
                                <a href="/lien-he.html">Liên hệ</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-1 col-md-6 pt-10 pt-lg-0">
                    <div class="widget-item">
                        <h3 class="widget-title mb-5">Tài khoản</h3>
                        <ul class="widget-list-item">
                            <li>
                                <a href="/tai-khoan-cua-toi.html">Thông tin cá nhân</a>
                            </li>
                            <li>
                                <a href="/cart.html">Giỏ hàng</a>
                            </li>
                            <li>
                                <a href="/shop.html">Shopping</a>
                            </li>
                            <li>
                                <a href="/wishlist.html">Wishlist</a>
                            </li>
                        </ul>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <div class="footer-bottom py-3" data-bg-color="#bac34e">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="copyright">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
